<!-- Controll area -->
<p class="Controll"><button (click)="togglePause()">{{paused ? "▶" : "⏸"}} Play/Pause</button></p>
<p class="Controll"><button (click)="step()">⏭ Step</button></p>
<p class="Controll"><button (click)="reset()">↺ Reset</button></p>
<button (click)="resize(+uiSize)">Set <input style="width: 30px;" [(ngModel)]="uiSize" (click)="$event.stopPropagation()"> as Size</button>
<!-- Board -->
<br/>
<div class="board">
  <div *ngFor="let row of board" class="row">
    <div *ngFor="let cell of row; index as i" [ngClass]="{'cell-active': cell, 'cell-inactive': !cell}" (click)="row[i] = !row[i]">
  </div>
</div>
